body{
    background-color: #8D1C11;
}
.x{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.inner{
    margin-top: 10px;
    background-color:#14346A ;
    padding: 20px;
    width: 50%;
    border-radius: 5px;
    align-items: center;
    position: relative;

}
.inner h2{
    color: #fff;
    text-align: center;
    border-bottom: 5px solid #fff;
    margin-bottom:20px ;
}
.inner input{
    margin: 15px 0;
} 
.react-datepicker-wrapper{
    display: block!important;
}
.inner button{
    margin: 15px 0;
}
li{
    color: #000;
    border: 1px solid #333;
    background-color: #fff;
    width: 90%;
    list-style: none;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 15px 0;
    border-radius: 5px;
}
.innerinner1 span{
    font-weight: bold;
}
.b{
    border-radius: 50%!important;
}
li .innerinner1{
    width: 90%;
}
@media(max-width:1000px)and (min-width:0)
{
    .inner{
        width: 100%;
        margin-top: 50px;
    }
}